<!doctype html>
<html lang="en">
    <head>
        <title>{{repo_data.name}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="../../images/favicon.png">
        <link rel="stylesheet" href="../../styles/repo.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
        
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main>
            <div class="container">
                <div class="repo-card">
                    <div class="repo-header">
                        <img src="{{repo_data.owner.avatar_url}}" alt="Avatar" class="repo-avatar">
                        <div>
                            <div class="repo-name">{{repo_data.name}}</div>
                            <div><a href="{{repo_data.html_url}}" target="_blank">View on GitHub</a></div>
                        </div>
                    </div>
                    <div class="repo-description">{{repo_data.description}}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Owner:</strong> <a href="{{repo_data.owner.html_url}}" target="_blank">{{repo_data.owner.login}}</a></li>
                        <li class="list-group-item"><strong>Language:</strong> {{repo_data.language}}</li>
                        <li class="list-group-item"><strong>Stargazers:</strong> {{repo_data.stargazers_count}}</li>
                        <li class="list-group-item"><strong>Watchers:</strong> {{repo_data.watchers_count}}</li>
                        <li class="list-group-item"><strong>Forks:</strong> {{repo_data.forks_count}}</li>
                        <li class="list-group-item"><strong>Subscribers:</strong> {{repo_data.subscribers_count}}</li>
                        <li class="list-group-item"><strong>Open Issues:</strong> {{repo_data.open_issues_count}}</li>
                        <li class="list-group-item"><strong>Size</strong> {{repo_data.size}}</li>
                        <li class="list-group-item"><strong>Created At:</strong> {{repo_data.created_at}}</li>
                        <li class="list-group-item"><strong>Updated At:</strong> {{repo_data.updated_at}}</li>
                        
                        <li class="list-group-item"><strong>Clone URL:</strong> <a href="{{repo_data.clone_url}}" target="_blank">{{repo_data.clone_url}}</a></li>
                        <li class="list-group-item"><strong>License:</strong> <a href="{{repo_data.license.url}}">{{repo_data.license.name}}</a></li>
                        <li class="list-group-item noc hidden"><strong>Number Of Contributors:</strong><span id="number-of-contributors"></span> </li>
                        

                    </ul>
                </div>
            </div>
            <h2 class="heading" style="width: 85%; margin:auto;">Commit History Visualization</h2>
            <div class="canvas"><canvas id="commitChart" width="400" height="200"></canvas></div>

           <div class="contributors-list container mt-4">
                <h2 class="contributors-list-heading hidden">Contributors </h2>
                <div class="row" id="contributors-row">

                </div>
           </div>

           <div class="container mt-4">
                <div class="stargazers">
                    <h2 class="stargazers-heading hidden">Stargazers</h2>
                    <div class="row stars-container">
                        
                    </div>
                </div>
            </div>  

            <div class="container mt-4">
                <div class="watchers">
                    <h2 class="watchers-heading hidden">Watchers</h2>
                    <div class="row watchers-container">
                        
                    </div>
                </div>
            </div>  

             <div class="container mt-4">
                <div class="subscribers">
                    <h2 class="subscribers-heading hidden">Subscribers</h2>
                    <div class="row subscribers-container">
                        
                    </div>
                </div>
            </div>  

             <div class="container mt-4">
                <div class="open-issues">
                    <h2 class="issues-heading">Open Issues</h2>
                    <div class="issues-container row">
                    
                    </div>
                </div>
            </div>




        </main>
        <footer>
            <!-- place footer here -->
        </footer>

        <script src="../../scripts/repo.js"></script>
       
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
